{{ partial "header.html" . }}

<div class="pageTitle">
    <h1>ゲーム置き場</h1>
    <p>ゲームを作る際、「面白さ」をどう定義して作ったのか、簡単に書きます。</p>
</div>

<div class="pageContent">
    <h3>猫とタピオカ</h3>
    <p><a href="https://nekotapi.herokuapp.com/nekotapi/title">ここで公開しています ></a></p>
    <img src="/game/nekotapi/nekotapi.jpg" class="img-fluid">
    <p>(動作がやたら重い時があります。Herokuの無料版を使っているからです。すみません…)</p>
    <p>ビジュアル的に数が増えまくるのは、わけもなく面白んじゃないかと思いながら作った。</p>
    <p>作った際のお話を<a href="/game/nekotapi">ここ</a>にまとめてみました。</p>

</div>

{{ partial "sidebar.html" . }} {{ partial "footer.html" . }}