/*header関連*/

.mylogo {
    height: 100px;
}

@media (max-width: 800px) {
    /* 横幅が800px以下の場合に適用するスタイル */
    .mylogo {
        height: 70px;
    }
}

@media (max-width: 500px) {
    /* 横幅が500px以下の場合に適用するスタイル */
    .mylogo {
        height: 50px;
    }
}

.mymenu {
    text-align: center;
}

.newicon {
    height: 80px;
    display: inline-block;
}


/*layout/index.html関連*/

.archive_h1_index {
    display: inline-block;
}

.newarchive_index {
    display: inline-block;
}


/*sidebar関連*/

.sidebar {
    background: #f8f9fa;
}

.sidebar_icon {
    width: 40%;
}

.sidebar_name {
    display: inline-block;
}

.sidebar-p {
    margin-left: 10px;
    margin-right: 10px;
}


/*footer関連*/

footer {
    padding-top: 20px;
    background: #f8f9fa;
}


/*各ページ&リストページ関連*/

.pageTitle {
    margin-top: 30px;
    margin-bottom: 15px;
}

.pageTitle h1 {
    font-size: 36px;
}

.pageContent {}

.pageContent h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}


/*INDEX.HTML関連*/

.twitter-timeline {}