/*header関連*/

.mylogo {
    height: 100px;
}

.mymenu {
    text-align: center;
}

.newicon {
    height: 80px;
    display: inline-block;
}


/*layout/index.html関連*/

.archive_h1_index {
    display: inline-block;
}

.newarchive_index {
    display: inline-block;
}


/*sidebar関連*/

.sidebar {
    background: #f8f9fa;
}

.sidebar_icon {
    width: 40%;
}

.sidebar_name {
    display: inline-block;
}


/*footer関連*/

footer {
    padding-top: 20px;
    background: #f8f9fa;
}


/*各ページ&リストページ関連*/

.pageTitle {
    margin-top: 30px;
    margin-bottom: 15px;
}

.pageTitle h1 {
    font-size: 36px;
}

.pageContent {}

.pageContent h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}