<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149588481-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-149588481-1');
    </script>

    <meta charset="UTF-8">
    <title>谷川いちの１番ノート</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--favicon-->
    <link rel="icon" type="image/png" href="/img/ensui1.png">

    <!--ヘッダーで読み込むboostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- 独自のcss preloadつけたほうが、開発中は安定するのでつけてみる-->
    <link rel="preload" as="style" href="{{ "/mycss/style.css"| relURL }}" onload="this.rel='stylesheet'">
</head>

<body>
    <header>
        <!-- 画面上部のナビバー-->
        <nav class="navbar navbar-light bg-light navbar-expand-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ "/index.html" | relURL }}" class="navbar-brand"><img class="img-fluid mylogo" src="{{ "/img/header.png"| relURL }}"></a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-light bg-light navbar-expand-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ "/" | relURL }}" class="navbar-brand mymenu">
                            TOP
                        </a>
                        <a href="{{ "/archives" | relURL }}" class="navbar-brand mymenu">記事一覧</a>
                        <a href="{{ "/webapps" | relURL }}" class="navbar-brand mymenu">Webアプリ</a>
                        <a href="{{ "/diary" | relURL }}" class="navbar-brand mymenu">日記</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class='container'>
        <div class="row">
            <div class="col-md-8">
