</div>

<div class="col-md-4">
    <div class="sidebar">
        <div class="pageTitle">
            <img src="/img/ensui1.png" class="img-fluid sidebar_icon">
            <h5 class="sidebar_name">谷川いち</h5>
        </div>

        <div class="pageContent">
            <p class="sidebar-p">技術で遊んだり、絵を描いたり、本を読んだりしてます。<br>
                <a href="https://mobile.twitter.com/DmeD3KuYeK5orxK">Twitter</a> 雑談<br>
                <a href="https://www.pixiv.net/users/35737593">pixiv</a> ちょっときれいに描いた絵<br>
                <a href="https://sketch.pixiv.net/@user_saej8385">pixiv Sketch</a> 雑多な落書き
            </p>
        </div>
    </div>
</div>