{{ partial "header.html" . }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>作ったWebアプリたち</h1>
            <p>谷川いちって色々作ってるらしいけど、どんな課題を見つけて、どのようにそれを解決したの？　と思ったときにご覧ください。</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>iPadで.txtファイル作成</h3>
            <p>ここで公開しています：<a href="https://ipadtxt.tanikawa1.site">https://ipadtxt.tanikawa1.site</a></p>
            <p>iPadで.txtファイルを生成する方法が意外となかったので、作りました。</p>
            <p>知り合いにiPadから.txtファイルを送りたくなった　かつ　知り合いに「メールで送るからコピペしてね」と言っても通じなさそうなときに使うのかなと思います(自分がそういう状況になったので作った)。</p>
        </div>
    </div>

</div>

{{ partial "footer.html" . }}