.mytitle {
    margin-top: 3%;
}

.mybutton_wrapper {
    margin-top: 3%;
    text-align: center;
}

.centertext {
    text-align: center;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    background: #f8f9fa;
}